<launch>
    <arg name="serial_port" default="/dev/ttyUSB0"/>
    <arg name="kinect_res" default="qhd"/>
    <arg name="p_id"/>
    <arg name="date"/>
    <arg name="vis" default="false"/>

    <include file="$(find contactdb_utils)/launch/contactdb_cameras.launch">
        <arg name="kinect_res" value="$(arg kinect_res)"/>
        <arg name="thermal" value="false"/>
        <arg name="date" value="$(arg date)"/>
    </include>

    <include file="$(find mocap_optitrack)/launch/mocap.launch">
        <arg name="mocap_config_file"
             value="$(find contactdb_utils)/data/mocap.yaml"/>
    </include>

    <node name="turntable_operator" pkg="contactdb_utils" cwd="node"
          type="operate_turntable.py" output="screen" required="true"
          args="
          --serial_port $(arg serial_port)
          --data_dir $(find contactdb_utils)/data/contactdb_data/rosbags/$(arg p_id)
          --kinect_res $(arg kinect_res)"/>

    <node name="rviz" pkg="rviz" type="rviz" if="$(arg vis)"
          args="-d $(find contactdb_utils)/rviz_files/recording.rviz"
          output="screen"
          required="true"/>

</launch>
